{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulp Solver</title>
</head>

<body>
    <div class="content">
        <header>
            <h1>Pulp Solver</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae facilis iure soluta minus
                accusamus,
                rem corporis reiciendis deserunt quae.
            </p>
        </header>

        <input type="text" placeholder="Olá...">
    </div>
</body>

</html>